# Synthesis & Quantization
alkaid
hgq2==0.1.9
quantizers==1.2.2

# ML Frameworks
tensorflow==2.19.1
keras==3.14.0

# Compute & Data
numpy>=1.26.4,<2.2.0
scipy
scikit-learn
h5py
joblib

# Utilities
matplotlib
contourpy
cycler
fonttools
kiwisolver
pillow
pyparsing
python-dateutil
threadpoolctl
tqdm